.body {
  height: 100%;
  min-width: 320px;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: $font-family-default, sans-serif;
  font-size: $font-size-normal;
  color: $text-main-color;
  background-color: $white;
  // line-height: 120%;
}
